$primary-color: #6868e4 !default;
$hover-primary-color: #3f51b542 !default;
$secondary-color: #fefefe !default;
$tertiary-color: #767682 !default;
$orange-color: #fe6a00d4 !default;
$primary-bg-color: #f7f7f7 !default;
$secondary-bg-color: #f1f2f4 !default;
$red-color: #ff5c5c !default;
