@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "colors";
@import "grid";
@import "custom-material";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-bg-color;
}

.example-spacer {
    flex: 1 1 auto;
}

.nav-link {
    cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.skills-edit-dialog {
  width: 60vw;
  max-width: 1200px !important;
  .mat-dialog-container {
    border-radius: 1rem !important;
  }
}

.mat-form-field-flex {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content {
  border-radius: 1.5rem;
  background: white;
  padding: 3rem;
  box-shadow: 1px 5px 15px rgba(0,0,0, 0.01);
}

:root {
  --primary-color: #{$primary-color};
  --hover-primary-color: #{$hover-primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --orange-color: #{$orange-color};
  --primary-bg-color: #{$primary-bg-color};
  --secondary-bg-color: #{$secondary-bg-color};
  --red-color: #{$red-color};
}
